.primary-background-color{
    background-color: #000;
}

.secondary-background-color{
    background-color: #fff;
}
.primary-text-color{
    color: #000;
}
.secondary-text-color{
    color: #fff;
}
.small-white{
    max-width: 100px;
    border-bottom: 1px solid #fff;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

a {
    color: #000;
}
/*tekst*/
p {
  font-family: 'Open Sans', sans-serif;
}
/*title */
.title-text {
    padding-top: 27px;
}

#top-padding-logo{
  padding-top: 37vh;
}

#teamname {
  font-family: 'Roboto', sans-serif;
  font-size: 47px;
  color: #fff;
}

#slogan {
  font-family: 'Open Sans', sans-serif;
  font-size: 23px;
  color: #fff;
}

.parallax-window {
  min-height: 700px;
  background: transparent;
  background-color: rgba(0, 0, 0, 0.3);
}

/* about */
.centered-container {
  margin: 0 auto;
}

/*casebeschrijving*/
#partners{
  width: 60px;
  height: 60px;
}

#padding-logo-text {
  padding-top: 17px;
}

.image-container .after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display:block;
  background: rgba(0, 0, 0, 0.6);
}

.image-container:hover .after {
  display:none;
}

/* onderzoek */
#onderzoek-upper-padding{
  padding-top: 30px;
}

.onderzoek-foto {
  width: 300px;
  /*height: 180px;*/
  box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
  ms-transform: rotate(-1deg); /* IE 9 */
    -webkit-transform: rotate(-1deg); /* Safari */
    transform: rotate(-1deg);
}


/* menu */

#menu-close {
  /*background-color: rgb(199, 199, 199);*/
}
